.ul {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
}

.li {
    display: flex;
    justify-content: space-between;

    list-style: none;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
}
.li:not(:last-child){
    margin-bottom: 5px;
}